@import '../../styles/_mixins'
@import '../../styles/_variables'

.dashboard_box
  height: calc(100%-16px)
  width: 100%

.hero
  @include flexCenter(column, transparent)
  height: 300px

.instruction
  display: flex
  flex-flow: row wrap
  width: 100%
  align-items: center

  .img_box
    width: 100%
    padding: 10%
    box-sizing: border-box

    img
      object-fit: contain
      width: 100%
      -o-object-fit: contain

  .copy
    width: 100%
    padding: 1rem

    a
      // @include flexCenter(row, #eee)
      display: inline-block
      padding: 3px 6px
      color: #333
      background-color: #eee
      border-radius: 6px
      cursor: pointer

  & .o2
    order: 2

@media and (min-width: $phone)
  .instruction

  .img_box
    width: 60%

  .copy
    width: 40%
