// COLORS
// - background
$col-primary: #125c69
$col-secondary: #4fa0bb
$col-danger: tomato
$col-warning: rgb(230, 190, 17)
$col-text: rgb(77, 77, 77)
// - button
$col-btn-primary: #333
$col-btn-secondary: #999
$col-btn-danger: tomato
$col-btn-warning: rgb(230, 190, 17)
// - button
$col-btn-primary-active: #666
$col-btn-secondary-active: #bbb
$col-btn-danger-active: #fd927f
$col-btn-warning-active: rgb(252, 217, 59)

// - general
$col-tinted-light: rgba(0,0,0,.2)
$col-tinted: rgba(0, 0, 0, 0.4)
$col-tinted-dark: rgba(0,0,0,.6)
$col-tinted-very-dark: rgba(0,0,0,.8)

// disabled
$col-primary-disabled: #63a5b1
$col-secondary-disabled: #81a8b4
$col-danger-disabled: tomato
$col-warning-disabled: rgb(230, 216, 159)
$col-text-disabled: rgb(138, 138, 138)
